@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    @* Đặt RenderMode ở đây để toàn bộ các trang con đều có tính tương tác *@
    <Router AppAssembly="@typeof(Program).Assembly" @rendermode="InteractiveServer">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(Layout.MainLayout)">
                <p role="alert">Trang không tồn tại.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>